services:
  lib_service:
    build: .
    restart: always
    ports:
      - 8000:8000
    env_file:
    - .env
    depends_on:
      - library_db

  library_db:
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}

volumes:
  postgres_data:

  